{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/scripts.js'%}"></script>
    <title>{{ regi.title }}</title>
</head>
<body>

    <h1> {{ regi.title }}</h1>
    <div id="conteudo">
        x
    </div>
    <p>Matéria de {{ regi.materia }}</p>
    <iframe width="560" height="315" src="{{ regi.link_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <script>        
        
    </script>
</body>
</html>