{% extends 'base.html' %}

{% block title %}{{ regi.title }}{% endblock%}

{% block content %}
    <h1> {{ regi.title }}</h1>
    <div id="conteudo">
        conteudo aqui
    </div>
    <p>Matéria de {{ regi.materia }}</p>
    <iframe width="560" height="315" src="{{ regi.link_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <script>        
        var x = document.getElementById('conteudo')
        var y = '{{regi.conteudo}}'.replace(/&lt;/gi, '<').replace(/&gt;/gi, '>')
        x.innerHTML = y
    </script>
{% endblock %}